# --- React ---
/frontend-spa/node_modules/
/frontend-spa/build/
/frontend-spa/.env*

# --- .NET ---
/backend-api/bin/
/backend-api/obj/
/backend-api/.vs/
/backend-api/TestResults/
/backend-api/*.db
/backend-api/*.log

# --- Common ---
*.user
*.suo
.DS_Store
.idea/
.vscode/
*.swp
/backend-api/MovieListingSystem.API/.vs
/backend-api/MovieListingSystem.API/bin/Debug/net8.0
/backend-api/MovieListingSystem.API/obj
/backend-api/MovieListingSystem.Application/.vs
/backend-api/MovieListingSystem.Application/bin/Debug/net8.0
/backend-api/MovieListingSystem.Application/obj
/backend-api/MovieListingSystem.Domain/.vs
/backend-api/MovieListingSystem.Domain/bin/Debug/net8.0
/backend-api/MovieListingSystem.Domain/obj   
/backend-api/MovieListingSystem.Infrastructure/.vs
/backend-api/MovieListingSystem.Infrastructure/bin/Debug/net8.0
/backend-api/MovieListingSystem.Infrastructure/obj           
/backend-api/MovieListingSystem.Persistence/.vs
/backend-api/MovieListingSystem.Persistence/bin/Debug/net8.0
/backend-api/MovieListingSystem.Persistence/obj    
/backend-api/MovieListingSystem.Tests/.vs
/backend-api/MovieListingSystem.Tests/bin/Debug/net8.0
/backend-api/MovieListingSystem.Tests/obj
 
/.vs
bin/
obj/
.vs/
*.user
*.suo
