# --- React ---
/frontend-spa/node_modules/
/frontend-spa/build/
/frontend-spa/.env*

# --- .NET ---
/backend-api/bin/
/backend-api/obj/
/backend-api/.vs/
/backend-api/TestResults/
/backend-api/*.db
/backend-api/*.log

# --- Common ---
*.user
*.suo
.DS_Store
.idea/
.vscode/
*.swp
/backend-api/MultipeAuthenticationSupport/.vs
/backend-api/MultipeAuthenticationSupport/bin/Debug/net8.0
/backend-api/MultipeAuthenticationSupport/obj
/.vs
